<% content_for :title, "Employee Addresses" %>

<controls class="turbo-native-hidden">
  <%= link_to "New", new_employee_address_path(@employee.id),
    data: { controller: 'bridge--new', bridge__new_target: "submit" },
    role: "button" %>
  <%= link_to "Back", show_employee_path(@employee.id), role: "button" %>
</controls>

<table>
  <thead>
    <tr>
      <th>Address Name</th>
      <th>Address Line 1</th>
      <th>Postal Town</th>
      <th>Post Code</th>
    </tr>
  </thead>
  <tbody>
    <% @employee.addresses.each do |address| %>
      <tr>
        <td title="Address Name">
          <%= link_to address.name, show_employee_address_path(@employee.id, address.id) %>
        </td>
        <td title="Address Line 1">
          <%= address.address_line_1 %>
        </td>
        <td title="Postal Town">
          <%= address.postal_town %>
        </td>
        <td title="Post Code">
          <%= address.post_code %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
