<div style="height: 10px">
</div>
<form action="<%= search_employee_path %>" id="employee-search-form" method="post"></form>
<form action="<%= search_region_path %>" id="region-search-form" method="post"></form>

<%= form_with(model: employee, url: false, :html => {:id => 'employee_form'}) do %>
  <fieldset <%= 'disabled' if disabled %>>
    <%= email_field(@employee, :email) %>
    <%= text_field(@employee, :title_of_courtesy) %>
    <%= text_field(@employee, :first_name) %>
    <%= text_field(@employee, :last_name) %>

    <!-- Addresses -->
    <% if turbo_native_ios? %>
      <field>
        <% if @employee.id == nil %>
          <%= link_to "Addresses", '/', role: "button", style: "width: 100%; margin-top: 15px; margin-bottom: 5px;", disabled: true %>
        <% else %>
          <%= link_to "Addresses", index_employee_address_path(@employee), role: "button", style: "width: 100%; margin-top: 15px; margin-bottom: 5px;" %>
        <% end %>
      </field>
    <% end %>

    <!-- Reports To -->
    <%= render partial: "search_field", locals: { 
      field_name: :reports_to,
      field_value: @employee.reports_to,
      field_text: @employee.manager&.full_name,
      form_id: "employee-search-form", 
      search_results_id: 'employee_search_results' } %>
    <%= date_field(@employee, :birth_date) %>
    <!-- Region -->
    <%= render partial: "search_field", locals: { 
      field_name: :region_id,
      field_value: @employee.region_id,
      field_text: @employee&.region&.name,
      form_id: "region-search-form", 
      search_results_id: 'region_search_results' } %>
    <%= date_field(@employee, :hire_date) %>
    <%= text_field(@employee, :home_phone) %>
    <%= number_field(@employee, :extension) %>

    <% if turbo_native_ios? %>
      <field>
        <% if @employee.id == nil %>
          <%= link_to "Orders", '/', role: "button", style: "width: 100%; margin-top: 15px; margin-bottom: 5px;", disabled: true %>
        <% else %>
          <%= link_to "Orders", index_employee_order_path(@employee), role: "button", style: "width: 100%; margin-top: 15px; margin-bottom: 5px;" %>
        <% end %>
      </field>
    <% end %>

    <%= text_field(@employee, :photo) %>
  </fieldset>
<% end %>
